﻿@model VideoDirectory.Models.Movie
@{
    ViewBag.Title = "MovieDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Genre : @Model.Genre.GenreName</li>
    <li>Released Date : @Model.ReleasedDate.ToLongDateString()</li>
    <li>Date Added : @Model.DateAdded.ToLongDateString()</li>
    <li>No. In Stock : @Model.NoInStock</li>
</ul>




