﻿@model VideoDirectory.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Customer Id</td>
            <td>Name</td>
            <td>Subscription For Newslwetter</td>
            <td>Subscription Type</td>
            <td>BirthDate</td>
        </tr>
    </thead>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.IsSubscriberToNewsletter</td>
        <td>@Model.MembershipType.Name</td>
        <td>@if (Model.BirthDate.HasValue)
        {
            @Model.BirthDate.Value.ToShortDateString()
        }

    </tr>
</table>

