﻿@model IEnumerable<VideoDirectory.Models.Customer>
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered table-hover">
    <thead color: green;>
        <tr>
            <td>Name</td>
            <td>Membership Type</td>
            
        </tr>
    </thead>
    @foreach (var cust in Model)
{   
        <tr>
   <td>@Html.ActionLink(cust.Name,"Details","Customer",new {id=cust.Id },null)</td>
   <td>@cust.MembershipType.Name</td>
         </tr>

}
    
</table>

