﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly - The Video Rental</h1>
   </div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Rent a Movie
        </p>
        <p></p>
    </div>
   
</div>